<article>
<h2><a href="{{ base_path }}/{{ blog }}/{{ slug }}/">{{ title }}</a></h2>
<p class="meta">发布于 {{ date }}</p>
<p class="summary">
{{ summary }}&nbsp;<a class="more" href="{{ base_path }}/{{ blog }}/{{ slug }}/">...</a>
</p>
<div>
<a class="more" href="{{ base_path }}/{{ blog }}/{{ slug }}/">阅读更多</a>
</div>
</article>
