<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">主页</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">博客</a>
        <a href="{{ base_path }}/contact/">联系</a>
        <a href="{{ base_path }}/about/">关于</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>&copy; {{ current_year }} Radix10</p>
<p>
    <a href="https://weibo.com/u/2718739020">Weibo</a>
    <a href="https://gitlab.com/radix10">GitLab</a>
</p>
</section>
</footer>

</body>
</html>
